.acordeon {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem 0;
    border: 1px solid white;
    border-radius: 1rem;
}

.acordeon .trigger{
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1rem 2rem;
    background-color: transparent;
    color: white;
    border:none;
}

.acordeon .trigger::after{
    content: '';
    display: inline-block;
    position: relative;
}


.acordeon .content{
    display: none;

}
.acordeon {
    display: flex;
    flex-direction: column;
    width: 100%;
}