* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }
  
  .main {
    padding: 1rem;
    margin: 1rem;
    /* background-color: #1e293b; */
    /* border: #1e293b; */
   /*  border: 2px solid rgb(4, 216, 4); */
    border-radius: 20px;
   /*  background: linear-gradient(320deg, #000000, #0c0e0e, #141d1a, #182b25, #18392e, #144736, #0c563d, #006442); */
    /* background:-webkit-linear-gradient(320deg, rgba(76, 175, 80, 1) 0%, rgba(0, 0, 0, 1) 50%, rgba(76, 175, 80, 1) 100%); */
  }
  body {
    /* background:-webkit-linear-gradient(320deg, rgba(76, 175, 80, 1) 0%, rgba(0, 0, 0, 1) 50%, rgba(76, 175, 80, 1) 100%); */
  /*   background: #0f172a; */
    background-color:#0f172a;
    color: white; 
    width: 100%;
    height: 100vh;

  }
  a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }

  @media only screen and (min-width: 768px){
    
    .main {
        max-width: 1024px;
        margin: 1rem auto;
    }

}